body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004080;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

main {
  padding: 1.5rem;
}

.semestre {
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.semestre h2 {
  color: #004080;
}

.semestre a {
  color: #007acc;
  text-decoration: none;
}

.semestre a:hover {
  text-decoration: underline;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}
